body {
  font-family: "Trebuchet MS", serif;
  background-color: #e0e0e0;
  margin: 0;
  padding: 0;
}

pre {
  font-family: "Andale Mono", "Courier New", monospace;
}
tt {
  font-family: "Andale Mono", "Courier New", monospace;
}

h1 {
  font-size: medium;
  padding-left: 0.5em;
  border-bottom: 3px double black;
  background-color: #ffffff;
}

div#contents {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

dt.defsig {
  padding: 0.3em 0.7em;
  background-color: #202020;
  color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

dt.defsig span.type {
  float: right;
  color: #c0c0c0;
  font-weight: bold;
}
dt.defsig span.sig {
/* monospace already set via tt */
}

.operator {
  color: #800000;
}

dd.defsig {
  padding-left: 1em;
  padding-right: 2em;
  margin-top: 0.5em;
  border: 1px solid black;
  border-left: 3px solid black;
  background-color: #ffffff;
  margin-left: 1em;
}

