body {
  font-family: "Trebuchet MS", serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

pre {
  font-family: "Andale Mono", "Courier New", monospace;
}
tt {
  font-family: "Andale Mono", "Courier New", monospace;
}

h1 {
  font-size: medium;
  padding-left: 0.5em;
  border-bottom: 3px double black;
  background-color: #ffffff;
}

div#contents {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

dl.defsig {
  border: 1px solid black;
  border-left: 3px solid black;
/*  border-right: 3px double black; */
  border-color: black;
  margin-left: 1em;
  margin-right: 1em;
}

dt.defsig {
  padding: 0.2em 1.0em;
  background-color: #e8e8e8;
  color: #000000;
  border-bottom: 1px solid black;
}

dt.defsig span.type {
  float: right;
  color: #404040;
  font-weight: bold;
/*  border-left: 3px double black; */
}
dt.defsig span.sig {
/* monospace already set via tt */
}

.operator {
  color: #800000;
}

dd.defsig {
  padding-left: 1em;
  padding-right: 2em;
  margin: 0;
  margin-top: 0.5em;
  background-color: #ffffff;
}

